<%= form_for @customer do |f| %>
  <%= f.hidden_field :mobile_number %>
  <%= f.fields_for :accounts, @account do |f_a| %>
    <div class="control-group">
      <%= f_a.label :name %>
      <div class="controls">
        <%= f_a.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f_a.label :age %>
      <div class="controls">
        <%= f_a.text_field :age %>
      </div>
    </div>
    <div class="control-group">
      <%= f_a.label :sex %>
      <div class="controls">
        <%= f_a.select :sex, options_for_select(["Male","Female"]) %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f_a.submit %>
      </div>
    </div>
    
  <% end %>
<% end %>
